@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h2 + p{
    color:hsla(207, 40%, 45%, 0.952);
}

/*Converting Header to Nav Bar*/
.navbar{
    max-width: 100%;
    background-color:rgba(64, 138, 211, 0.623);
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.nav-item > a{
    color:white;
    font-family: Raleway;
    text-align: center;
    text-decoration: none;
    padding-top: 1.5em;
    padding-right: 2em;
    padding-bottom: 1.5em;
    padding-left: 2em;
}

.nav-item a:hover{
    background-color: rgba(64, 138, 211, 0.5);
    text-decoration: underline;
}

.nav-item a:active{
    background-color: rgba(64, 138, 211, 0.5);
}

/*Styling up the Intro*/
figure.main-img{
    padding: 0.25cm 0.25cm;
    margin: auto;
    border-style: dotted;
    border-radius: 10px;
    border-color: rgb(64, 138, 211);
    border-width: 5px;
    max-height: fit-content;
    max-width: fit-content;
}

.main-img figcaption{
    display: block;
    margin-top: 1%; 
    margin-bottom:1%;
    margin-left:1%; 
    margin-right:1%;
    padding: 1pt 1pt 1pt 1pt;
}

.disappearing{
    display: none;
}
