@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
h2, h3{
    color: #5a5a5a;
}
h2 + p{
    color:hsla(207, 40%, 45%, 0.952);
}
a[target="_blank"]{
    color:blue;
}

/*Converting Header to Nav Bar*/
.navbar{
    max-width: 100%;
    background-color:rgba(64, 138, 211, 0.623);
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.nav-item > a{
    color:white;
    font-family: Raleway;
    text-align: center;
    text-decoration: none;
    padding-top: 1.5em;
    padding-right: 2em;
    padding-bottom: 1.5em;
    padding-left: 2em;
}

.nav-item a:hover{
    background-color: rgba(64, 138, 211, 0.5);
    text-decoration: underline;
}

.nav-item a:active{
    background-color: rgba(64, 138, 211, 0.5);
}

/*Styling up the Intro*/
figure.main-img{
    padding: 0.25cm 0.25cm;
    margin: auto;
    border-style: dotted;
    border-radius: 10px;
    border-color: rgb(64, 138, 211);
    border-width: 5px;
    max-height: fit-content;
    max-width: fit-content;
    position: relative;
}

.main-img figcaption{
    display: block;
    margin-top: 1%; 
    margin-bottom:1%;
    margin-left:1%; 
    margin-right:1%;
    padding: 1pt 1pt 1pt 1pt;
}

.disappearing{
    display: none;
}

/*Styling up my Interests*/
#interests .favs{
    margin-left: auto;
    border: 1px solid black;
    margin-right: auto;
}
.favs th{
    border: 1px solid black;
}
.favs td{
    border: 1px solid black;
}

@media screen and (max-width: 1000px) {
    #interests .favs{
        border: 1px dotted rgb(70, 100, 182);
    }
    .favs th{
        border: 1px dashed rgb(70, 100, 182);
    }
    .favs td{
        border: 1px dashed rgb(70, 100, 182);
    }
}

.invisible-divider{
    margin: 3.5ch 3.5ch 3.5ch 3.5ch;
    visibility: hidden;
}
.grid-interests{
    display: grid;
    grid-template-columns: 50% 5% 45%;
    height: 600px;
    grid-template-rows: 20% 20% 25% 20%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
}
.grid-item1{
    grid-column: 3;
    grid-row: 1;
    max-width: 90%;
    max-height: 50%;
}
.grid-item2{
    grid-column: 3;
    grid-row: 2;
    max-width: 90%;
    max-height: 50%;
}
.grid-item3{
    grid-column: 3;
    grid-row: 3;
    max-width: 90%;
}
.grid-item5{
    grid-column: 3;
    grid-row: 4;
    max-width: 100%;
    max-height: 50%;
}

.grid-item5 a:active{
    color: rgba(64, 138, 211, 0.5);
}

.grid-item4{
    grid-column: 1;
    grid-row: 1;
    max-width: 100%;
    min-width: 50%;
}

/*Gallery Styling*/

#gallery table{
    margin-left: auto;
    margin-right: auto;
}

table ~ picture{
    height: 700px;
    width: 800px;
    position: fixed;
}

